{{> head }}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1></h1>
    </div>

    <div class="col-4">
        <img src="assets/img/6f93508f78319faf2a9929632b3fc041.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}